
@{
    var branchList = new List<SelectListItem>();
    //var item = new List<Liberary_Management.Models.Top10BorrowerViewModel>();

    foreach (var item in ViewBag.BranchList)
    {
        branchList.Add(new SelectListItem
        {
            Text = item.name,
            Value = item.branchid.ToString()
        });
    }
}


<div class="row">
    <div class="form-group">
        <label for="Branch">Branches: </label>
        @Html.DropDownList("Branch", branchList, new { @id = "drpBranches", @class = "form-control" })
    </div>
</div>

<div id="displayTable">
    <table id="tblDisplayResult" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Avg Fine</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $("#drpBranches").change(function () {
        var branchId = parseInt($(this).val());
        var siteURL = "@Url.Action("FindAvgFinePerUser", "AdminFunction")";
        var strData = { branchId: branchId };

        function callbackSuccess(response) {
            debugger;
            var x = "";
            $('#tblDisplayResult tbody').html('');
            var data = JSON.parse(response);

            if (typeof data !== 'undefined' && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    x += "<tr>";
                    x += "<td>" + data[i].Name + "</td>";
                    x += "<td>" + data[i].AvgFine + "</td>";
                    x += "</tr>";
                }
                $("#tblDisplayResult tbody").html(x);
            }
            else {
                $("#tblDisplayResult tbody").html("<tr><td colspan='4' align='center'>No records found.</td></tr>");
            }
        }

        function callbackError (x, y, z) {
            console.error(`Error found at $("#drpBranches").change(function () { });. \n ${JSON.stringify(x)}  \n ${y} \n ${z}`);
        }

        ajaxGet(siteURL, strData, callbackSuccess);
    });
</script>
