<div class="row">
    <div class="form-group">
        <label for="Branch">Book Title: </label>
        @Html.TextBox("Books", "", new { @id = "txtBook", @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="button" value="Search" id="btnSearch" />
    </div>
</div>


<div id="displayTable">
    <label id="note" style="color: red;">Note: Search book is available at following brnaches.</label>
    <table id="tblDisplayResult" class="table table-striped">
        <thead>
            <tr>
                <th>Branch Name</th>
                <th>Book ID</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $("#btnSearch").click(function () {
        var title = $('#txtBook').val();
        var siteURL = "@Url.Action("SearchBookByName", "AdminFunction")";
        var strData = { bookname: title };

        function callbackSuccess(response) {
            var x = "";
            $('#tblDisplayResult tbody').html('');
            var data = JSON.parse(response);

            if (typeof data !== 'undefined' && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    x += "<tr>";
                    x += "<td>" + data[i].branchname + "</td>";
                    x += "<td>" + data[i].bookid + "</td>";
                    x += "<td>" + data[i].isbn + "</td>";
                    x += "</tr>";
                }

                $("#tblDisplayResult tbody").html(x);
            }
            else {
                $("#tblDisplayResult tbody").html("<tr><td colspan='4' align='center'>No records found.</td></tr>");
            }
        }

        function callbackError (x, y, z) {
            console.error(`Error found at $("#drpBranches").change(function () { });. \n ${JSON.stringify(x)}  \n ${y} \n ${z}`);
        }

        ajaxGet(siteURL, strData, callbackSuccess);
    });
</script>