body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 50px;
}

    .sidenav a{
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sidenav button {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover{
            color: #f1f1f1;
        }

    .sidenav button:hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 16px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

.linkBtn {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #818181;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 50px;
    }

        .sidenav a{
            font-size: 18px;
        }

        .sidenav button {
            font-size: 18px;
        }
}
