

<h2>Book Return</h2>
<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2">Branch</label>
        <div class="col-sm-3">
            @Html.DropDownList("drpBranch", (IEnumerable<SelectListItem>)ViewBag.BranchList, new { @class = "form-control", @id = "drpBranch" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Book Name</label>
        <div class="col-sm-3">
            <select name="drpBook" id="drpBook" class="form-control">
                <option value="0">Select Book Name</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-default" value="Return" id="btnReturnBook" onclick="ReturnBook();" />
        </div>
    </div>

    <script>
        $("#drpBranch").on("change", function () {
            var selectedBranch = $(this).val();
            $("#drpBook").html("");
            if (selectedBranch != "" && selectedBranch != "0") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetBooksForReturn", "ReaderFunction")',
                    data: JSON.stringify({ "BranchId": selectedBranch, "ReaderId": $("#hfReaderId").val()  }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (typeof data !== 'undefined' && data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                $('#drpBook').append($("<option></option>").attr("value", data[i].bookid).attr("data-isbn", data[i].isbn).text(data[i].title));
                            }
                        }
                        else {
                            $('#drpBook').append($("<option></option>").attr("value", "0").text("No books borrow from this branch"));
                            alert("No books borrow from this branch");
                        }
                    },
                    error: function () {
                        alert("Error while get books");
                    }
                });
            }
            else {
                $('#drpBook').append($("<option></option>").attr("value", "0").text("Select Book Name"));
            }
        });

        function ReturnBook() {
            var selectedBranch = $("#drpBranch").val();
            var selectedBook = $("#drpBook").val();
            if (selectedBranch != "" && selectedBranch != "0") {
                if (selectedBook != "" && selectedBook != "0") {
                    console.log($("#hfReaderId").val())
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("BookReturn", "ReaderFunction")',
                        data: JSON.stringify({ "BranchId": selectedBranch, "BookId": selectedBook, "ReaderId": $("#hfReaderId").val()}),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            alert(data);

                        },
                        error: function () {
                            alert("Error while return book");
                        }
                    });
                }
                else {
                    alert("Please select book name");
                }
            }
            else {
                alert("Please select branch name");
            }
        }
    </script>

</div>