
@{
    ViewBag.Title = "ReaderFunction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/simple-sidebar.css" rel="stylesheet" />

<style>
    
</style>

<div class="sidenav" id="readerLeftMenu">
    <button class="btn btn-link linkBtn" id="btnSearchBook" onclick="BtnOnClick(this.id)">Search Book</button>
    <button class="btn btn-link linkBtn" id="btnBookCheckout" onclick="BtnOnClick(this.id)">Book Checkout</button>
    <button class="btn btn-link linkBtn" id="btnBookReturn" onclick="BtnOnClick(this.id)">Book Return</button>
    <button class="btn btn-link linkBtn" id="btnBookReserve" onclick="BtnOnClick(this.id)">Book Reserve</button>
    <button class="btn btn-link linkBtn" id="btnComputeFine" onclick="BtnOnClick(this.id)">Compute Fine</button>
    <button class="btn btn-link linkBtn" id="btnBookCheckout" onclick="BtnOnClick(this.id)">Book Checkout</button>
    <button class="btn btn-link linkBtn" id="btnPrintBookList" onclick="BtnOnClick(this.id)">Print book list</button>
</div>
<div class="main">
    <h2 id="userMsg"></h2>
    <input type="hidden" id="hfReaderId" value="" />
    <div id="mainContent">

        
    </div>
</div>

<script>
    var isUserValid = false;

    $(document).ready(function () {
        var readerId = prompt('Please Enter Reader ID');
        var userData = { 'data': readerId };
        var siteURL = "@Url.Action("IsUserValid", "ReaderFunction")";

        function callbackSuccess(response) {
            if (response.readerid) {
                $("#hfReaderId").val(response.readerid);
                checkValidUser(true);
                $('#userMsg').html(`Hey, ${response.name}.`);
            } else {
                checkValidUser(false);
                $('#userMsg').html('Please enter valid Reader Id to proceed further.');
            }
        }

        function callbackError(response) {
            checkValidUser(false);
            console.error('Error Found at RaderFunction.cshtml -> document.ready part: ' + JSON.stringify(response));
        }

        ajaxPOST(siteURL, userData, callbackSuccess, 'Reader Function', callbackError);
    });

    function checkValidUser(isValid) {
        if (isValid == true) {
            $('#readerLeftMenu').children('button').attr('disabled', false);
            //$('#readerLeftMenu').children('button').css('pointer-events', 'auto');
        } else {
            $('#readerLeftMenu').children('button').attr('disabled', true);
            //$('#readerLeftMenu').children('a').css('pointer-events', 'none');
        }
    }

    function BtnOnClick(btnId) {
        var siteURL;
        switch (btnId) {
            case "btnSearchBook":
                siteURL = "@Url.Action("SearchBook", "ReaderFunction")";
                break;

            case "btnBookCheckout":
                siteURL = "@Url.Action("BookCheckout", "ReaderFunction")";
                break;

            case "btnBookReserve":
                siteURL = "@Url.Action("BookReserve", "ReaderFunction")";
                break;
        }

        function callbackSuccess(response) {
            $('#mainContent').html(response);
        }

        function callbackError(res) {
            console.error(res);
        }

        ajaxGet(siteURL, null, callbackSuccess, callbackError);
    }
</script>