@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to City Library</h1>
    <p class="lead">We are City Library, we have world class books and unique collection.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Reader Part</h2>
        <p>
            Reader can find the book, borrow it and some more functionalities are avialble.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Admin part</h2>
        <p>Admin can Add reader, books and other functionalities fall under admin part.</p>
    </div>
</div>